@import '~bulma/bulma';

.loading-content {
    &::after {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background: rgba(54,54,54,0.9);
        content: "";
        transition: all 0.3s;
        opacity: 0;
        visibility: hidden;
    }
    &.loading {
        &::after {
            opacity: 1;
            visibility: visible
        }
    }
}

.table {
    caption {
        font-weight: bold;
        font-size: 24px;
        background: rgba(0,0,0,0.1);
        padding: 20px 0;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}